<div class="container">
    <back-button></back-button>
</div>

<hr />

<div class="container" *ngIf="group.id">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">#{{group.id}}</h4>
                    <p class="card-text">{{group.name}}</p>
                    <a class="btn btn-outline-primary" [routerLink]="['/groups', group.id, 'edit']">edit</a>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteGroup()">delete</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let userGroup of userGroups">
                    {{userGroup.user.username}}&nbsp;<span class="badge badge-default">{{userGroup.roleCode}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
