<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-success float-right" [routerLink]="['/groups/add']">add</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive" *ngIf="groups">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th class="text-center">Enabled</th>
                            <th class="text-center">System defined</th>
                            <th class="text-center">Visibility code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let group of groups">
                            <td>
                                <a [routerLink]="['/groups', group.id]">#{{group.id}}</a>
                            </td>
                            <td>{{group.name}}</td>
                            <td class="text-center">{{group.enabled | yesOrNot}}</td>
                            <td class="text-center">{{group.systemDefined | yesOrNot}}</td>
                            <td class="text-center">{{group.visibilityCode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
