<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">of-users</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/users']"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/groups']"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Groups</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a>
            </li>
        </ul>
    </div>
</nav>
