/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: rgba(17,18,21,.9);
    padding-top: 60px;
    padding-bottom: 60px;
}

.card {
    color: black;
}

.list-group-item {
    color: black;
}
