<div class="container">
    <back-button></back-button>
</div>

<br />

<div class="container">
    <form novalidate (ngSubmit)="onSubmit(changePasswordForm)" [formGroup]="changePasswordForm">
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="text" placeholder="Enter old password" formControlName="oldPassword" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="text" placeholder="Enter new password" formControlName="newPassword1" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="text" placeholder="Re-enter new password" formControlName="newPassword2" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">submit</button>
    </form>
</div>
