<div class="container">
    <back-button></back-button>
</div>

<hr />

<div class="container" *ngIf="!user.id">
    <div class="row">
        <div class="col-12">User not found!</div>
    </div>
</div>

<div class="container" *ngIf="user.id">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">#{{user.id}}</h4>
                    <p class="card-text">{{user.username}}</p>
                </div>
                <ul class="list-group list-group-flush">
                     <li class="list-group-item">enabled: {{user.enabled}}</li>
                </ul>
                <div class="card-block">
                    <a class="btn btn-outline-warning" [routerLink]="['/users', user.id, 'change-password']">change password</a>
                    <a class="btn btn-outline-primary" [routerLink]="['/users', user.id, 'edit']">edit</a>
                    <button type="button" class="btn btn-outline-danger" (click)="showConfirmDeleteModal()">delete</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let userGroup of userGroups">
                    {{userGroup.group.name}}&nbsp;<span class="badge badge-default">{{userGroup.roleCode}}</span>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-outline-warning float-right" [routerLink]="['/users', user.id, 'group-assignment']">group management</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div bsModal #confirmDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideConfirmDeleteModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideConfirmDeleteModal()">cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteUser()">delete</button>
            </div>
        </div>
    </div>
</div>
