<div class="container">
    <a class="btn btn-info" (click)="goBack()">Back</a>
</div>

<br />

<div class="container">
    <form novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter username" formControlName="username" class="form-control" aria-describedby="usernameHelp" required />
            <small id="usernameHelp" class="form-text text-muted">usernameHelp</small>
        </div>
        <div class="form-group">
            <label for="rawPassword">Password</label>
            <input type="text" placeholder="Enter password" formControlName="rawPassword" class="form-control" aria-describedby="rawPasswordHelp" required />
            <small id="rawPasswordHelp" class="form-text text-muted">passwordHelp</small>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" formControlName="enabled" />
                Enabled
            </label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
    </form>
</div>
