<div class="container">
    <back-button></back-button>
</div>

<hr />

<div class="container" *ngIf="user.id">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">#{{user.id}}</h4>
                    <p class="card-text">{{user.username}}</p>
                </div>
                <ul class="list-group list-group-flush">
                     <li class="list-group-item">enabled: {{user.enabled}}</li>
                </ul>
                <div class="card-block">
                    <a class="btn btn-outline-primary" [routerLink]="['/users', user.id, 'edit']">edit</a>
                    <a class="btn btn-outline-warning" [routerLink]="['/users', user.id, 'change-password']">change password</a>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteUser()">delete</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let userGroup of userGroups">
                    {{userGroup.group.name}}&nbsp;<span class="badge badge-default">{{userGroup.roleCode}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
